.cardbuy {
  margin: 100px;
  display: flex;
}

.card-text {
  margin-left: 100px;
}
.card-text h1 {
  font-size: 32px;
}
.cardbuy img {
  width: 493px;
}
.description span {
  margin-left: 5px;
}
.description label {
  width: 120px;
}

.cardbuy label {
  margin-bottom: 0.7rem;
}
.cardbuy .text-center {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  width: 100px;
}
.buttton-add {
  margin-top: 10px;
  border: 1px solid #ffb729;
  color: #fff;
  background-color: #ffb729;
  border-radius: 0.3rem;
  padding: 0.7rem 1rem;
  font-size: 23px;
  width: 100%;
}
.input-group {
  margin-top: 20px;
}
.detail {
  background-color: #eee;
  padding: 20px 15px;
  text-align: justify;
}
.err {
  text-align: center;
  margin: 20% 20%;
  font-size: 50px;
  font-weight: bolder;
}
.text-number {
  padding: 2px 0px;

  width: 100px;

  text-align: center;
}
.img-detail img {
  width: 40%;
  margin-left: 29%;
  margin-bottom: 3%;
}
.star {
  width: 100px;
}
.media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.col-lg-8 {
  margin-right: 40%;
}
.text-small {
  color: #444 !important;
}
