/* fieldset{
    width: 350px;
}
form{
    margin: 50px 37%;
}
input{
    padding: 5px;
    margin-bottom: 2px;
}
#forgot_PW{
   color: rgb(255, 0, 0);
}
p{
    font-size: x-small;
    color: rgba(13, 19, 188, 0.677);
}

.H1_login{
    margin-left: 37.5%;
}

.Btn_login{
    margin-left: 20%;
}

.Btn_forget_pass{
    margin-left: 8%;
} */